/*Renk Kodları
Sarı #FDC913, 
Açık Gri: #5F5F5F, 
Koyu Gri #292929, 
Kırmızı #CE2829, 
Bej: #FAF7F2 */

@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");

.home-page {
  background-image: url("/Assets/mile1-assets/home-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-align: center;
}

header h1 {
  font-family: "Londrina Solid", sans-serif;
  font-size: 3.5vh;
  margin-top: 100px;
  margin-bottom: 30px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 200;
  font-size: 7vh;
  line-height: 0.9;
}

.home-button {
  font-family: "Barlow Condensed", sans-serif;
  background-color: #fdc913;
  color: black;
  border: none;
  border-radius: 40px;
  padding: 0.5rem 3rem;
  font-size: 2vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.home-button:hover {
  background-color: #fdda5a;
}
